# Copy to terraform.tfvars and fill in. Never commit terraform.tfvars to git.

aws_region        = "ap-south-1"
environment       = "prod"
vpc_cidr          = "10.20.0.0/16"
db_instance_class = "db.t4g.medium"
redis_node_type   = "cache.t4g.small"
eks_node_size     = "t4g.large"
eks_min_nodes     = 2
eks_max_nodes     = 6
